<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
  
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>
    <!--
    <system.net>
        <defaultProxy>
            <proxy
              usesystemdefault="False"
              bypassonlocal="False"
              proxyaddress="http://127.0.0.1:8888"/>
        </defaultProxy>
    </system.net>-->
  <system.webServer>
      <defaultDocument>
          <files>
              <clear />
              <add value="index.html" />
              <add value="index.htm" />              
              <add value="iisstart.htm" />
          </files>
      </defaultDocument>
      <security>
          <authentication>
              <anonymousAuthentication enabled="true" />
              <windowsAuthentication enabled="false" />
          </authentication>
      </security>
      <httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true" />
    
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
    </staticContent>
  </system.webServer>

</configuration>
